In [2]:
import nltk
nltk.__version__

'3.8.1'

In [4]:
pip install konlpy

Requirement already satisfied: konlpy in c:\users\minji\anaconda3\lib\site-packages (0.6.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: JPype1>=0.7.0 in c:\users\minji\anaconda3\lib\site-packages (from konlpy) (1.4.1)
Requirement already satisfied: numpy>=1.6 in c:\users\minji\anaconda3\lib\site-packages (from konlpy) (1.23.5)
Requirement already satisfied: lxml>=4.1.0 in c:\users\minji\anaconda3\lib\site-packages (from konlpy) (4.9.2)
Requirement already satisfied: packaging in c:\users\minji\anaconda3\lib\site-packages (from JPype1>=0.7.0->konlpy) (23.0)

In [6]:
import konlpy
konlpy.__version__

'0.6.0'

In [9]:
pip install pandas

Requirement already satisfied: pandas in c:\users\minji\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\minji\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\minji\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\minji\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\minji\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\minji\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [13]:
sr = pd.Series([17000, 18000, 1000, 5000],
              index = ["피자", "치킨", "콜라", "맥주"])
print("시리즈 출력 : ")
print("-"*15)
print(sr)

시리즈 출력 :
---------------
피자    17000
치킨    18000
콜라     1000
맥주     5000
dtype: int64

In [15]:
print("시리즈의 값 : {}".format(sr.values))
print("시리즈의 인덱스 : {}".format(sr.index))

시리즈의 값 : [17000 18000  1000  5000]
시리즈의 인덱스 : Index(['피자', '치킨', '콜라', '맥주'], dtype='object')

In [17]:
values = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
index = ['one', 'two', 'three']
columns = ['A', 'B', 'C']

df = pd.DataFrame(values, index = index, columns = columns)

print('데이터 프레임 출력 : ')
print('-'*18)
print(df)

데이터 프레임 출력 :
------------------
       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9

In [19]:
print('데이터프레임의 인덱스 : {}'.format(df.index))
print('데이터프레임의 열이름 : {}'.format(df.columns))
print('데이터프레임의 값 :')
print('-'*18)
print(df.values)

데이터프레임의 인덱스 : Index(['one', 'two', 'three'], dtype='object')
데이터프레임의 열이름 : Index(['A', 'B', 'C'], dtype='object')
데이터프레임의 값 :
------------------
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [4]:
data = [
    ['1000', 'Steve', 90.72],
    ['1001', 'James', 78.09],
    ['1002', 'Doyeon', 98.43],
    ['1003', 'Jane', 64.19],
    ['1004', 'Pilwoong', 81.30],
    ['1005', 'Tony', 99.14],
]

df = pd.DataFrame(data)
print(df)

      0         1      2
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [6]:
df = pd.DataFrame(data, columns=['학번', '이름', '점수'])
print(df)

     학번        이름     점수
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [8]:
data = {
    '학번' : ['1000', '1001', '1002', '1003', '1004', '1005'],
    '이름' : [ 'Steve', 'James', 'Doyeon', 'Jane', 'Pilwoong', 'Tony'],
    '점수': [90.72, 78.09, 98.43, 64.19, 81.30, 99.14]
    }

df = pd.DataFrame(data)
print(df)

     학번        이름     점수
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [10]:
print(df.head(3))

     학번      이름     점수
0  1000   Steve  90.72
1  1001   James  78.09
2  1002  Doyeon  98.43

In [12]:
print(df.tail(3))

     학번        이름     점수
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [14]:
print(df['학번'])

0    1000
1    1001
2    1002
3    1003
4    1004
5    1005
Name: 학번, dtype: object

In [16]:
import numpy as np

In [18]:
#1차원 배열
vec = np.array([1, 2, 3, 4, 5])
print(vec)

[1 2 3 4 5]

In [20]:
#2차원 배열
mat = np.array([[10, 20, 30],[60, 70, 80]])
print(mat)

[[10 20 30]
 [60 70 80]]

In [22]:
print('vec의 타입 : ', type(vec))
print('mat의 타입 : ', type(mat))

vec의 타입 :  <class 'numpy.ndarray'>
mat의 타입 :  <class 'numpy.ndarray'>